* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
    color: white;
    background-color: #2a8fbd;
    
}
.back {
    position: absolute;
    left: 10px;
    top: 20px;
    width: 100px;
    font-size: 46px;
    text-align: center;
    border: 1px solid white;
    border-radius: 4px;
}
.heading {
    font-size: 60px;
    text-align: center;
}
.content {
    margin: 100px 0;
}
table {
    margin: 20px auto;
    font-size: 48px;
    border: 1px solid #2a8fbd;
}
.all td {
    min-width: 200px;
    text-align: center;
}
.some td {
    min-width: 100px;
    text-align: center;
}
.button {
    padding: 10px 0;
    color: white;
    background-color: #2a8fbd;
}
