.header {
    padding: 20px 0;
    font-size: 60px;
    background-color: #f17c67;
    z-index: 1;
}
.left {
    position: absolute;
    left: 15px;
    top: 20px;
    font-size: 46px;
    padding: 4px;
    border: 1px solid white;
    border-radius: 4px;    
}
.content {
    padding: 100px 0;
}
.item {
    margin: 20px 0;
    padding: 15px 0;
    font-size: 46px;
    text-align: left;
    background-color: #f17c67;
    border-radius: 4px;
    z-index: 0;
}
.item * {
    display: inline-block;
    margin: 0;
    text-align: center;
}
.item .name {
    width: 40%;
    text-align: left;
}
.item .detail {
    width: 10%;
    text-align: center;
}
.item .price {
    width: 20%;
}
.item .num {
    width: 15%;
}
.item .button {
    padding: 10px 40px;
    max-width: 15%;
    border: 1px solid white;
    border-radius: 20px;
}
.footer {
    padding: 20px 0;
    font-size: 48px;
    background-color: #f17c67;
    z-index: 1;
}
.animation {
    animation: effect 1.5s;
    -webkit-animation: effect 1.5s;
    -moz-animation: effect 1.5s;
    -o-animation: effect 1.5s;
}
@keyframes effect {
    0% {border: 1px solid white;}
    50% {border: 1px solid red;}
    100% {border: 1px solid white;}
}
@-webkit-keyframes effect {
    0% {border: 1px solid white;}
    50% {border: 1px solid red;}
    100% {border: 1px solid white;}
}
@-moz-keyframes effect {
    0% {border: 1px solid white;}
    50% {border: 1px solid red;}
    100% {border: 1px solid white;}
}
@-o-keyframes effect {
    0% {border: 1px solid white;}
    50% {border: 1px solid red;}
    100% {border: 1px solid white;}
}
