.header {
    background-color: #f17c67;
}
.header .left {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 3px 10px;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid white;
    border-radius: 4px;
}
.item {
    margin: 10px 0;
    padding: 15px 0;
    text-align: left;
    background-color: #f17c67;
    border-radius: 4px;
}
.item * {
    display: inline-block;
    margin: 0;
    text-align: center;
}
.item .name {
    width: 40%;
    text-align: left;
}
.item .detail {
    width: 10%;
    text-align: center;
}
.item .price {
    width: 23%;
}
.item .num {
    width: 20%;
}
.item .button {
    width: 50px;
    max-width: 7%;
    border: 1px solid white;
    border-radius: 10px;
}
.footer {
    padding: 10px 0;
    background-color: #f17c67;
}
