* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-size: 46px;
    color: white;
    background-color: #2a5caa;
}
table {
    margin: auto;
    text-align: center;
}
caption {
    margin-bottom: 46px;
    font-size: 40px;
}
input {
    width: 600px;
    
    font-size: 46px;
    line-height: 40px;
    text-align: center;
}

div.confirm {
    margin-top: 46px;
    border: 1px solid white;
}
div.back {
    margin-top: 20px;
    border: 1px solid white;
}
