* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-size: 22px;
    color: white;
    background-color: #2a5caa;
}
table {
    margin: auto;
    text-align: center;
}
caption {
    margin-bottom: 20px;
    font-size: 24px;
}
input {
    width: 400px;
    font-size: 22px;
    text-align: center;
}

div.button {
    margin-top: 20px;
    font-size: 22px;
    border: 1px solid white;
}
.back {
    margin-top: 10px;
    font-size: 22px;
    border: 1px solid white;
}
.msg {
    
    margin-top: 30px;
    text-align: center;
}
