* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
    background-color: #9cf;
}
.heading {
    color: white;
    font-size: 60px;
    
    text-align: center;
}
.back {
    position: absolute;
    left: 15px;
    top: 20px;
    font-size: 50px;
    
    padding: 0 15px;
    border: 1px solid white;
    color: white;
    border-radius: 8px;
}
.content {
    padding: 150px 0;
}
.item {
    position: relative;
    margin: 20px 0;
    padding: 20px 0;
    font-size: 50px;
    color: white;
    background-color: #9cf;
}
.item .msg {
    text-align: center;
}
.item .button {
    position: absolute;
    top: 20px;
    right: 10px;
    padding: 0 15px;
    border: 1px solid white;
    border-radius: 8px;
}

