.header {
    background-color: #008573;
}
.header .left {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 3px 10px;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid white;
    border-radius: 4px;
}
.item {
    margin: 10px 0;
    padding: 0;
    background-color: #BDB76A;
    border-radius: 4px;
}
.item .row {
    margin: 5px 0;
    width: 100%;
    text-align: left;
}
.item .name, .item .price, .item .num {
    display: inline-block;    
}
.item .name {
    width: 60%;
    text-align: left;
}
.item .price, .item .num {
    width: 20%;
    text-align: center;
}
.item .button {
    padding: 0;
    font-size: 18px;
    line-height: 18px;
    border: 1px dashed white;
    border-radius: 4px;
}
.gdemand {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}
