* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-size: 24px;
    color: white;
    background-color: #2a5caa;
}

div {
    width: 60%;
    margin: 20px auto;
    padding: 20px 0;
    text-align: center;
    background-color: #2a8fbd;
}
div:hover {
    border: 1px solid white;
}
