.header {
    background-color: #f17c67;
}
.back {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 18px;
    padding: 4px;
    border: 1px solid white;
    border-radius: 4px;
    
}
.item {
    position: relative;
    margin: 8px 0;
    padding: 25px 0;
    background-color: #f17c67;
}
.num {
    position: absolute;
    right: 10px;
    bottom: 25px;
}
