<!DOCTYPE html>
<html>
    <head>

	<meta charset="utf-8" />

	<meta http-equiv="expires" content="0">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">

	<link rel="stylesheet" type="text/css" href="base.css">
	<link rel="stylesheet" type="text/css" href="customer-category.css">

	<link rel="stylesheet" type="text/css" href="{{static_url("css/base.css")}}">
	<link rel="stylesheet" type="text/css" href="{{static_url("css/customer-category-mobile.css")}}" id="css">

    </head>

    <body>

	<div class="header">
	    <div class="heading" data-desk="{{table}}">{{table}}</div>
	    <div class="back">返回</div>
	</div>
	<div class="content">
	    
	    {% for v in groups %}
	    <div class="item" data-cid="{{v['cid']}}">
		<div class="name">{{v['name']}}</div>
		<div class="num">0</div>
	    </div>
	    {% end %}
	    
	</div>
	<script src="{{static_url("js/jquery-1.11.2.min.js")}}"></script>
	<!-- <script src="{{static_url("js/jquery.mobile.custom.min.js")}}"></script> -->
	<script src="{{static_url("js/base.js")}}"></script>
	<script src="{{static_url("js/customer-category.js")}}"></script>
    </body>
</html>
