<!DOCTYPE html>
<html>
    <head>

	<meta charset="utf-8" />

	<meta http-equiv="expires" content="0">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">

	<link rel="stylesheet" type="text/css" href="base.css">
	<link rel="stylesheet" type="text/css" href="customer-feedback.css">

	<link rel="stylesheet" type="text/css" href="{{static_url("css/base.css")}}">
	<link rel="stylesheet" type="text/css" href="{{static_url("css/customer-feedback-mobile.css")}}" id="css">
    </head>

    <body>
	<div class="header">
            <div class="heading" data-desk="{{table}}">评价</div>
            <div class="left">返回</div>
	</div>
	<div class="content">
            
	    {% for item in done%}
	    <div class="item" data-uid="{{item.uid}}">
		<div class="row">
                    <div class="name">{{item.name}}</div>
		</div>
		<div class="row">
                    <div class="fb" data-fb="1">好吃</div>
		    <div class="fb" data-fb="0">一般</div>
		    <div class="fb" data-fb="-1">不好吃</div>
		</div>
		
            </div>
	    {% end %}
	    <textarea class="comment" placeholder="宝贵意见" rows="3"></textarea>
            
	</div>
	<div class="footer">确定</div>
	
	

	<script src="{{static_url("js/jquery-1.11.2.min.js")}}"></script>
	<!-- <script src="{{static_url("js/jquery.mobile.custom.min.js")}}"></script> -->
	<script src="{{static_url("js/base.js")}}"></script>
	<script src="{{static_url("js/customer-feedback.js")}}"></script>
    </body>
</html>
