.header {
    background-color: #f17c67;
}
.back {
    position: absolute;
    top: 13px;
    left: 15px;
    padding: 0 10px;
    font-size: 20px;
    border: 1px dotted white;
    border-radius: 4px;
}
.order {
    padding: 40px 0;
    font-size: 24px;
    background-color: #f17c67;
}
.myorder {
    padding: 40px 0;
    font-size: 24px;
    background-color: #495a80;
}
.fb {
    padding: 40px 0;
    font-size: 24px;
    background-color: #2e68aa;
}
.call {
    padding: 40px 0;
    font-size: 24px;
    background-color: #376956;
}
.qrcode {
    padding: 40px 0;
    font-size: 24px;
    background-color: #9cf;
}
