<!DOCTYPE html>
<html>
    <head>

	<meta charset="utf-8" />

	<meta http-equiv="expires" content="0">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">

	
	<link rel="stylesheet" type="text/css" href="faculty-role.css">
	
	<link rel="stylesheet" type="text/css" href="{{static_url("css/faculty-role-mobile.css")}}" id="css">
	

    </head>

    <body>
	<div class="header">
	    <div class="logout">退出</div>
	    <div class="heading">{{fid}}</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	{% for one in roles %}
	<br>
	<br>
	{% if one == 'manager' %}
	<div class="manager role">经理</div>
	{% end %}
	
	{% if one == 'waiter' %}
	<div class="waiter role">服务员</div>
	{% end %}

	{% if one == 'cashier' %}
	<div class="cashier role">收银员</div>
	{% end %}

	{% if one == 'cook' %}
	<div class="cook role">厨师</div>
	{% end %}
	{% end %}
	
	
	
	<script src="{{static_url("js/jquery-1.11.2.min.js")}}"></script>
	<!-- <script src="{{static_url("js/jquery.mobile.custom.min.js")}}"></script> -->
	<script src="{{static_url("js/base.js")}}"></script>
	<script src="{{static_url("js/faculty-role.js")}}"></script>
    </body>
</html>
