<!DOCTYPE html>
<html>
    <head>

	<meta charset="utf-8" />

	<meta http-equiv="expires" content="0">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">

	
	<link rel="stylesheet" type="text/css" href="faculty-secret.css">
	
	<link rel="stylesheet" type="text/css" href="{{static_url("css/faculty-secret-mobile.css")}}" id="css">
	

    </head>

    <body data-back="{{back}}">
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<table border="0">
	    <caption>设置密码</caption>
	    <tr>
		<td>旧密码：</td>
		<td><input type="text" required="required" id="passwd1"></td>
	    </tr>
	    <tr>
		<td>新密码：</td>
		<td><input type="password" required="required" id="passwd2"></td>
	    </tr>
	    <tr>
		<td>再次输入新密码：</td>
		<td><input type="password" required="required" id="passwd3"></td>
	    </tr>
	    <tr>
		<td colspan="2"><div class="button">确定</div></td>
	    </tr>
	    <tr>
		<td colspan="2"><div class="back">返回</div></td>
	    </tr>
	</table>
	<div class="msg">成功or失败</div>
	
	<script src="{{static_url("js/jquery-1.11.2.min.js")}}"></script>
	<!-- <script src="{{static_url("js/jquery.mobile.custom.min.js")}}"></script> -->
	<script src="{{static_url("js/base.js")}}"></script>
	<script src="{{static_url("js/faculty-secret.js")}}"></script>
    </body>
</html>
