<!DOCTYPE html>
<html>
    <head>

	    <meta charset="utf-8" />

	    <meta http-equiv="expires" content="0">
	    <meta http-equiv="pragma" content="no-cache">
	    <meta http-equiv="cache-control" content="no-cache">


	    <link rel="stylesheet" type="text/css" href="manager-history.css">

	    <link rel="stylesheet" type="text/css" href="{{static_url("css/manager-history.css")}}" id="css">


    </head>

    <body>
	    <div class="menu">
	        <div class="back">返回</div>
	        <div class="flow">
		        <div class="head">流水分析</div>
		        <div class="flow-container">
		            <div class="op">查看</div>
		        </div>
	        </div>


	    </div>

	    <div class="content">
            <div class="query">
		        <div class="heading">流水</div>
		        <div class="label">从：</div>
		        <input type="date" id="flow-from">
		        <div class="label">到：</div>
		        <input type="date" id="flow-to">
                <input type="checkbox" id="trend">看趋势
		        <div class="button" id="flow-query">查看</div>
		    </div>
	        <div class="flow-content">
		        
		        <table border="1" cellspacing="0">
		            <caption>流水</caption>
		            <thead>
			            <tr>
			                <th>编号</th>
			                <th>名字</th>
			                <th>价格</th>
			                <th>数量</th>
                            <th>数量百分比</th>
			                <th>销售额</th>
                            <th>销售额百分比</th>
                            <th>反馈数量</th>
                            <th>好评率</th>
                            <th>中评率</th>
                            <th>差评率</th>
			            </tr>
		            </thead>
		            <tbody>
			            <tr>
			                <td class="did">did</td>
			                <td class="name">name</td>
			                <td class="price">price</td>
			                <td class="num">num</td>
			                <td class="num-rate">rate</td>
                            <td class="sales">sales</td>
                            <td class="sales-rate">rate</td>
                            <td class="fb-num">fb-num</td>
                            <td class="good-rate">rate</td>
                            <td class="normal-rate">rate</td>
                            <td class="bad-rate">rate</td>
			            </tr>
		            </tbody>
		        </table>
	        </div>


	    </div>



	    <script src="{{static_url("js/jquery-1.11.2.min.js")}}"></script>
	    <!-- <script src="{{static_url("js/jquery.mobile.custom.min.js")}}"></script> -->
	    <script src="{{static_url("js/base.js")}}"></script>
	    <script src="{{static_url("js/manager-history.js")}}"></script>
    </body>
</html>
