* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    font-size: 24px;
    color: white;
    text-align: center;
}

.back {
    display: inline-block;
    width: 20%;
    background-color: #9cf;
}
.left {
    display: inline-block;
    width: 40%;
    background-color: #2e68aa;
}
.done {
    display: inline-block;
    width: 40%;
    background-color: #495a80;
}
.content {
    padding: 60px 0;
}
.item {
    position: relative;
    margin: 10px 0;
    padding: 5px 0;
    font-size: 20px;
    color: white;
    background-color: #9cf;
}
.item .msg {
    text-align: center;
}
.item .button {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 0 10px;
    border: 1px solid white;
    border-radius: 4px;
}

