<!DOCTYPE html>
<html>
    <head>

	    <meta charset="utf-8" />

	    <meta http-equiv="expires" content="0">
	    <meta http-equiv="pragma" content="no-cache">
	    <meta http-equiv="cache-control" content="no-cache">

	    
	    <link rel="stylesheet" type="text/css" href="waiting-queue.css">

	    
	    <link rel="stylesheet" type="text/css" href="{{static_url('css/waiting-queue-mobile.css')}}" id="css">

    </head>

    <body>
	    <div class="header">
            <h2 class="heading">排队</h2>
	    </div>
	    <div class="content">
            
            
            <br>
            <div class="order">10</div>
            <div class="button">重新排队</div>
	    </div>

	    <script src="{{static_url("js/jquery-1.11.2.min.js")}}"></script>
	    <script src="{{static_url("js/jquery.mobile.custom.min.js")}}"></script>
	    <script src="{{static_url("js/base.js")}}"></script>
	    <script src="{{static_url("js/waiting-queue.js")}}"></script>
    </body>
</html>
